




.flashcard-list {
    /* padding-left: 0; */
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    flex-flow: row wrap;
    
}
.card-inte,.card-dev {
    transition: all 0.4s;
    text-align: center;
    color: #fff;
    background-color: #a55c55;
    width:80% !important;
    padding: 3em;
    border-radius: 8em;
    margin: 2em 4em 2em 4em;
    box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;

}
.flashcard-list li {
    list-style-type: none;
    padding: 10px 10px;
    transition: all 0.3s ease;
}

.flashcard-list img {
    width: 100%;
}

.card-back, .card-front {

     background-color: #EB6D3F;
    height: 200px;
    width: 200px;
    font-size: 24px;
    border-radius: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    transition: all .3s;
    
    
    
}



.flashcard-list li:hover{
    transform: scale(1.1);
}

@keyframes rotatein {
    from {
        opacity:1;
        transform: rotateY(0deg);
        
        
    }
    to {
        opacity:1;
        
          transform: rotateY(180deg);
    }
}

h1, h2, p, .selected-div {
    text-align: center;
    padding-top: 1rem;
}

.selected {
    list-style-type: none;
}

.selected img {
    width: 20%;
}

button {
    margin-left: 8rem;
}
  
  
.contenu{
    
    
    text-align:center;
    
    
}

/*  Ajout du codepen */


  

  
      
  .jiggle {
    background-color: #EB6D3F;
    height: 200px;
    width: 200px;
    font-size: 24px;
    border-radius: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    transition: all .3s;
  }
  
  .jiggle:hover {
    cursor: pointer;
  }
    
  .active, .jiggle:hover {
    animation-name: jiggle;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    color: #333;
    background-color: #460511;
  }
  
  
  
  .active, .active:hover {
    color: rgb(255, 255, 255);
    background-color: #460511 !important;
  }
      
    
  @keyframes jiggle {
    0% {transform: rotate(0deg)}
    5% {transform: rotate(-3deg)}
    10% {transform: rotate(0deg)}
    15% {transform: rotate(3deg)}
    20% {transform: rotate(0deg)}
    25% {transform: rotate(-3deg)}
    30% {transform: rotate(0deg)}
    35% {transform: rotate(3deg)}
    40% {transform: rotate(0deg)}
    45% {transform: rotate(-3deg)}
    50% {transform: rotate(0deg)}
    55% {transform: rotate(3deg)}
    60% {transform: rotate(0deg)}
    65% {transform: rotate(-3deg)}
    70% {transform: rotate(0deg)}
    100% {transform: rotate(0deg)}
  }


.card {
    cursor: pointer;
    margin: 20px;
    border-radius: 3px;
    perspective: 1000px;
}

.card__inner {
    background-color: #a55c55;
    color: #fff;
    font-size: 24px;
    height: 200px;
    border: 0;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;    
    transition: all 1s;
    transform-style: preserve-3d;
    overflow-wrap:anywhere;
    height:500px ;
    
}

.card:hover .card__inner {
    color: #333;
}

.card .card__innerActive {
   transform: rotateY(-180deg); 
}

.card:hover .card__innerActive {
    color: #fff;
}

.card__content {
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    
}

 .card__content--back {
    display: flex;
    justify-content: center;
    align-items: center;
  
   
    border-radius: 5%;
  
    transform: rotateY(180deg); 
}  

label{

color:black;

}
span.form-error {
    display: block;
    background-color: rgba(255, 100, 100, 1);
    color: white;
    padding: 1em;
    border: 5px;
    width: 90%
}


span.form-validation{

    display: block;
    background-color: rgb(109, 255, 51);
    color: white;
    padding: 1em;
    border: 5px;
    width: 90%




}
